@import "tailwindcss";

@plugin '../shared/lib//heroui/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: var(--font-space-grotesk), -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  letter-spacing: 0.02rem;
}
